<!DOCTYPE html>
<html lang="en">
<head>
   {{>head}}
</head>
<body>         
{{>navbar}}

    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center" >
                        <figure class="error-img">
                            <img src="images/404.jpg" alt="sanjeev" class="img-fluid" style="border-radius :25rem;">
                        </figure>
                        <p>Welcome to My Weather world</p>
                        <h1>{{errorMassage}}</h1>
                        <a href=""><button>About Me </button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>  
    <!--footer section--> 
     <footer>
         <p>created love by sanju </p>
     </footer>
</body>
</html>