<!DOCTYPE html>
<html lang="en">
<head>
   {{>head}}
</head>
<body>         
{{>navbar}}

    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right" >
                        <figure class="about-img">
                            <img src="images/user.png" alt="sanjeev" class="img-fluid" style="border-radius :25rem;">
                        </figure>
                     </div>
                    <div class="col-md-6 col-12 main_header_left" >
                        <p>Welcome to Weather app</p>
                        <h1>I Am A  <span style="color: #0092e6;">Full Stack Developer</span>And A Freelancer</h1>
                        <a href=""><button>About Me </button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>  
    <!--footer section--> 
     <footer>
         <p>created love by sanju </p>
     </footer>
</body>
</html>